.vscode/
.idea/
*.swp
*~

.DS_Store
._*
Thumbs.db

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pytype/
.coverage
.coverage.*
htmlcov/

.venv/
.venv-*/
*.venv/
venv/
env/

build/
dist/
*.egg-info/
pip-wheel-metadata/
/requirements.txt

*.log
*.part.tiff
*-basler_*.tiff
*-coords.txt
